@model List<startup.Models.Post>

@{
    ViewData["Title"] = "Noticias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Noticias</h2>

<ul>
@foreach (var post in Model)
{
    <li>
        <a asp-action="Details" asp-route-id="@post.Id"><strong>@post.Title</strong></a>
        <p>@post.Body</p>
    </li>
}
</ul>
